<section>
  <div class="wrapper">
    <form [formGroup]="myForm">
      <h2>Регистрация</h2>
      <fieldset>
        <div class="item">
          <label for="name-field">Name</label>
          <input
            formControlName="name"
            type="name"
            id="name-field"
            name="name"
          />
        </div>

        <div class="item">
          <label for="email-field">E-mail</label>
          <input
            formControlName="email"
            type="email"
            id="email-field"
            name="email"
          />
        </div>
        <div class="item">
          <label for="password-field">Пароль</label>
          <input
            formControlName="password"
            type="password"
            id="password-field"
            name="password"
          />
        </div>
      </fieldset>
      <button
        [disabled]="myForm.invalid"
        (click)="
          addUserBd(
            myForm.value.name,
            myForm.value.email,
            myForm.value.password
          )
        "
        type="submit"
      >
        Зарегистрироваться
      </button>
    </form>
  </div>
</section>
