<div class="container">
  <ul class="list">
    <li class="el">
      <a routerLink="">Главная</a>
    </li>
    <li class="el">
      <a routerLink="app/base">Информация о пользователе</a>
    </li>
    <li class="el">
      <a routerLink="app/setting">Страница настройек</a>
    </li>
    <li class="el">
      <a routerLink="auth/sing-up">Регистрация</a>
    </li>
    <li class="el">
      <a routerLink="auth/sing-in">Вход</a>
    </li>
    <li class="el">
      <a (click)="canExit()">Выход</a>
    </li>
  </ul>
</div>
