<section>
  <div class="wrapper">
    <form name="vhod" method="post">
      <h2>Регистрация</h2>
      <fieldset>
        <div class="item">
          <label for="name-field">Name</label>
          <input
            [(ngModel)]="userName"
            type="name"
            id="name-field"
            name="name"
          />
        </div>

        <div class="item">
          <label for="email-field">E-mail</label>
          <input
            [(ngModel)]="userEmail"
            type="email"
            id="email-field"
            name="email"
          />
        </div>
        <div class="item">
          <label for="password-field">Пароль</label>
          <input
            [(ngModel)]="userPassword"
            type="password"
            id="password-field"
            name="password"
          />
        </div>
      </fieldset>
      <button
        (click)="addUser(userName, userEmail, userPassword)"
        type="submit"
      >
        Зарегистрироваться
      </button>
    </form>
  </div>
</section>
